
<style>
* {
  box-sizing: border-box;
}

/* TODO replace custom-boiling, custom-water-entry, and custom-free-surface with generic objects*/

.custom-boiling {
  float: left;
  width: 50%;
  padding: 5px;
}

.custom-water-entry {
  margin: 0 auto;
  width: 43%;
}

.custom-free-surface {
  margin: 0 auto;
  width: 62%;
}

.custom-rnd {
  margin: 0 auto;
  width: 100%;
}

/* Clearfix (clear floats) */
.custom-row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .custom-boiling {
    width: 100%;
  }

  .custom-water-entry {
    width: 100%;
  }

  .custom-free-surface {
    width: 100%;
  }

}

</style>
